<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Listado de jugadores</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
		</script>
		
	
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

  
</head>

<body>

      <background="static/img/background.jpg" th:src="@{/img/background.jpg}" />


<table class="table table-striped bg-primary text-white">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Nombre de Usuario</th>

			<th>Apellido</th>
			<th>Email</th>
			<th>tipo de Documento</th>
			<th>numero de Documento</th>
			<th>Perfil</th>
		</tr>
	</thead>
	<tbody th:each="usuarioModel : ${usuarios}" class="table-striped">
		<tr>
			<th th:text="${usuarioModel.nombre}"></th>
			<th th:text="${usuarioModel.nombreUsuario}"></th>

			<th th:text="${usuarioModel.apellido}"></th>
			<th th:text="${usuarioModel.email}"></th>
			<th th:text="${usuarioModel.tipoDocumento}"></th>
			<th th:text="${usuarioModel.nroDocumento}"></th>
			<th th:text="${usuarioModel.perfil.nombrePerfil}"></th>

			<th><a th:href="@{/usuario/editar/}+${usuarioModel.idUsuario}" class="btn btn-warning">Editar</a> <a
					th:href="@{/usuario/eliminar/}+${usuarioModel.idUsuario}" class="btn btn-danger">Eliminar</a>
		</tr>

	</tbody>

</table>
<br />



<div>
	<a class="btn btn-success  btn-lg btn-block" th:href="@{/usuario/index}">Menu principal</a>
	<a class="btn btn-primary btn-lg btn-block" th:href="@{/usuario/new}">Cargar nuevo usuario</a>

</div>

</body>

</html>